* {
  /* margin: 0; */
  padding: 0;
  box-sizing: border-box;
}

.rat {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 403px;
  height: 590px;
  background-color: rgb(51, 51, 52);
  border-radius: 10px;
  box-shadow: 14px 12px 20px gray;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 89%;
  height: 560px;
  /* background-color: red;1 */
}

.output {
  height: 40px;
  background-color: white;
  width: 100%;
  margin-top: 51px;
  margin-bottom: 42px;
  font-size: 35px;
  font-weight: bold;
  text-align: right;
  color: rgb(82, 81, 81);
  overflow-x: scroll;
}

.output::-webkit-scrollbar{
  display: none;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-top: 23px;
  margin-left: 30px;
  font-weight: bold;
  font-size: 20px;
}

.btn {
  background-color: yellow;
}

.btn1 {
  width: 120px;
  font-size: 25px;
  padding-right: 40px;
  font-weight: bold;
  margin-left: 46px;
}

.btn2 {
  margin-left: 41px;
}

.btnEqu {
  margin-left: 32px;
}
